:root {
  --btn-color: #fff;
  --btn-background-color-hover: rgba(0, 0, 0, 0.8);
  --btn-background-color: transparent;
  --btn-border-color: transparent;
  --box-shadow-carousel-container: rgba(0, 0, 0, 0.3);
  --photo-number-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.carousel {
  box-shadow: 2px 2px 5px var(--box-shadow-carousel-container);
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin: 110px 450px;
  display: block;
}
.button--container {
  position: absolute;
  top: 350px;
}
.btn {
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.6s ease;
  border: 1px solid var(--btn-border-color);
}
#right {
  position: relative;
  left: 375px;
}
.btn:hover {
  background-color: var(--btn-background-color-hover);
}
.btn:focus {
  outline: none;
}
.image--animation {
  animation-name: fade-effect;
  animation-duration: 1.5s;
}
@keyframes fade-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.image--container--number {
  position: absolute;
  top: 120px;
  left: 470px;
  font-size: 20px;
  color: var(--photo-number-color);
  display: inline-block;
}
